<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Translate-Summarize-Speak</h1>
<form id='fetchForm'action="/redirect" method="POST" class="buttons">
    <div>
        <textarea name="texttobesumm" placeholder="Write anything here..." required></textarea>
    </div>
    <div>
        <select name="langToBeSumm" id="languageSelect" aria-placeholder="Pick your lingo, amigo! 😄">
            <option value="">
                Pick your lingo, amigo! 😄</option>
            <option value="Arabic">Arabic</option>
            <option value="Bulgarian">Bulgarian</option>
            <option value="Catalan">Catalan</option>
            <option value="Chinese(Simplified)">Chinese(Simplified)</option>
            <option value="Chinese(Traditional)">Chinese(Traditional)</option>
            <option value="Croatian">Croatian</option>
            <option value="Czech">Czech</option>
            <option value="Danish">Danish</option>
            <option value="Dutch">Dutch</option>
            <option value="English(India)">English(India)</option>
            <option value="English(US)">English(US)</option>
            <option value="Finnish">Finnish</option>
            <option value="French">French</option>
            <option value="German">German</option>
            <option value="Greek">Greek</option>
            <option value="Hebrew">Hebrew</option>
            <option value="Hindi">Hindi</option>
            <option value="Hungarian">Hungarian</option>
            <option value="Indonesian">Indonesian</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
            <option value="Korean">Korean</option>
            <option value="Malay">Malay</option>
            <option value="Norwegian">Norwegian</option>
            <option value="Polish">Polish</option>
            <option value="Portuguese(Brazil)">Portuguese(Brazil)</option>
            <option value="Portuguese(Portugal)">Portuguese(Portugal)</option>
            <option value="Romanian">Romanian</option>
            <option value="Russian">Russian</option>
            <option value="Slovak">Slovak</option>
            <option value="Slovenian">Slovenian</option>
            <option value="Spanish(Mexico)">Spanish(Mexico)</option>
            <option value="Spanish(Spain)">Spanish(Spain)</option>
            <option value="Swedish">Swedish</option>
            <option value="Tamil">Tamil</option>
            <option value="Thai">Thai</option>
            <option value="Turkish">Turkish</option>
            <option value="Vietnamese">Vietnamese</option>

        </select>
        <button id="startspeaking" type="submit">Generate</button>
    </div>
</form>

<audio controls src="<%= voicefile %>">
    <source src="<%= voicefile %>" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<p id ='fetching-text'></p>
<% if (showsumm==true){ %>
<div class="result-div">
<p><%= summary %></p>
</div>
<% } %>
<script>
    document.getElementById('fetchForm').addEventListener('submit', function(event) {
        document.getElementById('fetching-text').innerText = "Generating...";
    });
</script>
</body>
</html>
